/* --------------------------------------------------------------------------------
footerのレイアウト
-------------------------------------------------------------------------------- */

@use "mixin" as m;

.footer-inner{
    height: 300px;
    text-align: center;
    @include m.breakpoint(tablet){
        height: auto;
      }
}

.footer-flex{
    display: inline-block;
    text-align: center;
    padding: 10px;
    @include m.breakpoint(tablet){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px;
      }
}

.footer-tl{
    text-align: center;
    dt{
        font-size: .8rem;
        letter-spacing: 5px;
        @include m.font;
    }
    dd{
        padding: 5px 20px;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 5px;
        color: #ffedad;
        @include m.font;
    }
}
.footer-list{
    ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include m.breakpoint(tablet){
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }
        li{
            padding: 5px;
            font-size: .8rem;
            @include m.font;
            @include m.breakpoint(mini){
                padding: 10px;
              }
            @include m.breakpoint(tablet){
                font-size: 1rem;
              }
        }
    }
}
.footer-inner small {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    @include m.font;
    @include m.breakpoint(tablet){
        display: block;
        width: 100%;
        text-align: right;
        margin-top: 20px;
        padding-right: 40px;
    }
}