/*全体のスタイル調整*/
*{
    box-sizing: border-box;
}

/*bodyの初期スタイル調整*/
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-weight: 400;
    color: #333;
    background-color: #fff;
    margin: 0 auto;
    padding-bottom: 0px;
}

@media screen and (min-width:1030px){
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-weight: 400;
    color: #333;
    background-color: #fff;
    margin: 0 auto;
    padding-bottom: 0%;
    }
}

/*初期スタイル */
h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-align: center;
}

h3{
   color: #85a7cc;
   font-size: 14px;
   margin-bottom: 20px;

}
@media screen and (max-width:1030px) {
    h2,
    h3 {
  font-size: 20px;
}
}
@media screen and (min-width:600px) {
    h3{
        color: #85a7cc;
        font-size: 1rem;
        margin-bottom: 20px;
     
     }
}

p{
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: left;
    font-size: 15px;
    line-height: 30px;
}

address {
    font-style: normal;
}

a{
    color:#000;
    text-decoration: none;
}

a:hover,
a:focus{
    color: #000;
    text-decoration: none;
}

ul{
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

section{
    padding: 0;
}